.CheckoutPage.container {
  max-width: 960px;
}
.AppContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
}
.NavigationContainer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  @media screen and (max-width: 800px) {
    height: 60px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
}
.lh-condensed {
  line-height: 1.25;
}
.LogoContainer {
  height: 100%;
  width: 70px;
  padding: 25px;
  @media screen and (max-width: 800px) {
    width: 50px;
    padding: 0px;
  }
}

.CustomNavLinksGroup {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media screen and (max-width: 800px) {
    width: 80%;
  }
}

.CustomNavLinks {
  padding: 10px 15px;
  cursor: pointer;
}

.CheckoutPage {
  height: 100%;
}
